body{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
   
    color:var(--pink);
}



.container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
main {
    min-height: 60vh;
    flex-grow: 5;
    display: flex;
    margin-right: auto;
  }
  
  aside, nav {
    
    flex-grow: 2;
  }
  
  footer, header {
   
    flex-grow: 1;
  }         
  .footer{
    display:inline-block;
  }                    
  @media(min-width:600px){
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    main{
        max-width: 60%;
    }
    header,footer{
        width:100%;
    }
  }
  .cactusjacklogo{
    padding-top: 10px;
    position: sticky;
    display: inline;
    align-content: center;
  }
.shows,.cart{
    border: none;
    background-color: white;
    color: black;
}
.cart{
    padding: 1em;
    position:relative;
    left:500px;
    bottom:108px;
}
.shows{
    padding: 1em;
    position:relative;
    left:-500px;
    bottom: 165px;
}
#hero {
    position: relative;
    text-align: center;
  }
 .card{
    display:flex;
    align-items: center;
 }